# linux/arch/arm/mach-anycloud/Kconfig
#
# Copyright 2018 Anyka Microelectronics
#
# Licensed under GPLv2

# Machine support

config MACH_AK39EV330
	bool "anycloudv500 ak39ev330 support"
	depends on ARCH_AK
	help
	  Support for ak39ev330

config MACH_AK3918EV200
	bool "AK3918EV200 support"
	depends on ARCH_AK
	help
	  Support for the AK3918EV200 SoC variant.
