
/dts-v1/;
#include "anycloud_ak3918ev200.dtsi"
#include "anycloud_ak39ev330_norflash.dtsi"

/ {
	compatible = "anyka,ak3918ev200";
	model = "Cloud39EV2_AK3918E80PIN_MNBD";
	version = "V2.00";
};

&gpio {

	uart0_pins: uart0_pins {
		anyka,pins = <1 2>;
		anyka,function = <1>;
		anyka,pull = <0x00000010>;
	};

	i2c0_pins: i2c0_pins {
		anyka,pins = <27 28>;
		anyka,function = <1>;
		anyka,pull = <0x00000010>;
	};

	ircut_pins: ircut_pins {
		anyka,pins = <41 42>;
		anyka,function = <0>;
		anyka,pull = <0x00000010>;
	};

	gpiokey_pins: gpiokey_pins {
		anyka,pins = <47>;
		anyka,function = <0>;
		anyka,pull = <0x00000010>;
	};

	mci0_pins: mci0_pins {
		anyka,pins = <31 32 33>;
		anyka,function = <1>;
		anyka,pull = <0x00000010>;
	};

	spiflash_pins: spiflash_pins {
		anyka,pins = <25 26 35 36>;
		anyka,function = <1 1 2 2>;
		anyka,pull = <0x00000010>;
	};

	wifi_en_pins: wifi_en_pins {
		anyka,pins = <34>;
		anyka,function = <0>;
		anyka,pull = <0x00000010>;
	};

	motor0_pins: motor0_pins {
		anyka,pins = <19 20 10 11>;
		anyka,function = <0>;
		anyka,pull = <0x00000010>;
	};

	motor1_pins: motor1_pins {
		anyka,pins = <15 14 13 23>;
		anyka,function = <0>;
		anyka,pull = <0x00000010>;
	};

	speak_gpio_pins: speak_gpio_pins {
		anyka,pins = <7>;
		anyka,function = <0>;
		anyka,pull = <0x00000010>;
	};

	dvp0_8bits_pins: dvp0_8bits_pins {
		anyka,pins = <64 65 66 67 68 69 70 71 72 73 74 75>;
		anyka,function = <0>;
		anyka,pull = <0x00000001>;
	};
};

&rtc {
	osc-select = <1>;
	adjust-time = <120000>;
	status = "okay";
};

&watchdog {
	def_heartbeat = <10>;
	status = "okay";
};

&uart0 {
	pinctrl-names = "default";
	pinctrl-0 = <&uart0_pins>;
	status = "okay";
};

&i2c0 {
	pinctrl-names = "default";
	pinctrl-0 = <&i2c0_pins>;

	clock-frequency = <312000>;
	sda-delay = <100>;
	status = "okay";
	#address-cells = <1>;
	#size-cells = <0>;

	sensor0: camera@0x30 {
		compatible = "anyka,sensor0";
		reg = <0x30>;
		reset-gpio = <&gpio 49 1>;
		pwdn-gpio = <&gpio 0xffff 1>;
		status = "okay";

		port {
			sensor_ep: endpoint {
				remote-endpoint = <&isp_ep>;
			};
		};
	};
};

&ircut {
	pinctrl-names = "default";
	pinctrl-0 = <&ircut_pins>;

	ircut-a = "0";
	ircut-a-day-level = "0";
	status = "okay";
};

&gpiokeys {
	#address-cells = <1>;
	#size-cells = <0>;
	pinctrl-0 = <&gpiokey_pins>;
	pinctrl-names = "default";
	status = "okay";

	key_detect {
		label = "key_detect";
		gpios = <&gpio 47 1>;
		linux,code = <116>;
		debounce-interval = <100>;
		wakeup-source;
	};
};

&mmc0 {
	pinctrl-names = "default";
	pinctrl-0 = <&mci0_pins>;

	bus-width = <1>;
	max-frequency = <25000000>;
	non-removable;
	status = "okay";
};

/ {
	wifi_pwrseq: wifi_pwrseq {
		compatible = "anyka,sdio-wifi-pwrseq";
		pinctrl-names = "default";
		pinctrl-0 = <&wifi_en_pins>;

		enable-gpios = <&gpio 34 0>;
		power-on-delay-ms = <2000>;
		power-off-delay-ms = <200>;
		status = "disable";
	};
};

&spi0 {
	pinctrl-names = "default";
	pinctrl-0 = <&spiflash_pins>;
	status = "okay";
};

&spif0 {
	spi-max-frequency = <20000000>;
	spi-tx-bus-width = <4>;
	spi-rx-bus-width = <4>;
	status = "okay";
};

&xm25qh64c {
	status = "okay";
};

&motor0 {
	pinctrl-names = "default";
	pinctrl-0 = <&motor0_pins>;
	phase-gpios = <&gpio 19 0>, <&gpio 20 0>, <&gpio 10 0>, <&gpio 11 0>;
	angular-speed = <200>;
	status = "disable";
};

&motor1 {
	pinctrl-names = "default";
	pinctrl-0 = <&motor1_pins>;
	phase-gpios = <&gpio 15 0>, <&gpio 14 0>, <&gpio 13 0>, <&gpio 23 0>;
	angular-speed = <100>;
	status = "disable";
};

&vencoder {
	status = "okay";
};

&usb {
	status = "okay";
};

&isp {
	pinctrl-names = "default";
	pinctrl-0 = <&dvp0_8bits_pins>;

	clocks = <&gclk_asic 18>, <&gclk_asic 20>;
	clock-names = "camera", "sensor";
	mclk-mhz = <27>;
	status = "okay";

	port {
		isp_ep: endpoint {
			remote-endpoint = <&sensor_ep>;
		};
	};
};

&adc_dac {
	pinctrl-names = "default";
	pinctrl-0 = <&speak_gpio_pins>;

	speak-gpios = <&gpio 7 1>;
	speak-gpios-en = <1>;
	anyka,playback-mode = <1>;
	status = "okay";
};
